body {
  font-family: 'Poppins', sans-serif;
  background-color: #f0f8ff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  padding: 40px;
  text-align: center;
  width: 450px;
  display: flex;
  gap: 30px;
}

.converter { 
  flex: 1;
  background-color: #e6f2ff;
  padding: 30px;
  border-radius: 15px;
}

.result {
  flex: 0 0 250px;
  background-color: #e6f2ff; 
  padding: 30px;
  border-radius: 15px;
  text-align: left;
}

.converter label {
  display: block;
  margin-bottom: 8px;
  font-weight: 600;
  color: #333;
}

.converter input[type="number"], 
.converter select, 
.converter input[type="text"] {
  width: 100%;
  padding: 12px;
  margin: 12px 0;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
}

.converter button {
  background-color: #007bff;
  color: #fff; 
  padding: 15px 25px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

.converter button:hover {
  background-color: #0056b3; /* Darker blue on hover */
  
}

.result label {
  display: block;
  margin-bottom: 8px;
  font-weight: 600;
  color: #333;
}
